extends layout

block content  
  div(id="root" style="width: 280px; margin: 40px auto; padding: 10px;")

  script.
    var lock = new Auth0Lock("#{env.AUTH0_CLIENT_ID}", "#{env.AUTH0_DOMAIN}", { closable: false, theme: {
    logo: 'http://a5.mzstatic.com/us/r30/Purple6/v4/e6/60/a7/e660a71a-f4be-7a70-8618-990d54a2d8b0/icon128-2x.png',
    primaryColor: '#666666'
    },
    languageDictionary: {
    title: "Get Ready To Play"
    },  
    avatar: null,
    auth: {
          redirectUrl: '#{'https://arcademania.herokuapp.com/callback'}'
        , responseType: 'code'
        , params: {
          scope: 'openid name email picture'
        }
      }});
    lock.show();
