body {
	width: 100%;
	height: auto;
	overflow: auto;
}
svg {
	margin: 0 auto;
	float: none;
}
input {
	border: 1px solid black;
}
.container {
	margin: 0 auto;
	margin-top: 5%;
}
.content {
	margin-top: 7%;
	clear: left;
}
#checkersBoard {
	width: 650px;
	height: 650px;
	display: block;
	margin: 0 auto;
	margin-top: 50px;
}
.btn-container {
	text-align: center;
}
.thumbnail{
	border-radius: 100%;
	width: 45px;
	height: 45px;
	margin: 3px;
	padding: 0px;
	position: fixed;
	border: 0;
	top: 0;
	right: 0;
	margin-right: 15px;

}
.hello {
	width: 100%;
	margin: 0 auto;
}
.glyphicon {
	font-size: 4em;
	color: black;
}

.navbar{
	position: fixed;
	top:0;
	right:0;
	left:0;
	height: 55px;
	border-radius: 0;
	background: #233142;
	border: 0;
}
.navbar-right {
	margin-right: 20px;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
.navbar-text{
	background-color: transparent;
}
.navbar-default .navbar-brand, .navbar-default .navbar-text {
    color: #e3e3e3;
}
.navbar-default .navbar-nav>li>a {
    color: #e3e3e3;
}
.navbar-default a.navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
    color: #f95959;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	text-align: center;
}
.row {
	display: block;
	width: 1250px;
	float: none;
	clear: both;
	margin: 0 auto;
}
.btnReplay {
	opacity: 0;
}
.devView {
	height: 600px;
	width: 400px;
	float: left;
	background-color: #4C4C4C;
	color: white;
	overflow: auto;
	border: 10px double orange;
}
.devView ul li {
	list-style-type: none;
	text-align: left;
	margin: 0;
	padding: 0;
}
.possMoves {
	margin: 0;
	padding: 0;
}
#best {
	color: orange;
}

.devInfo {
	width: 375px;
}
.start, .btnReplay {
	float: none;
	color: #fff;
	border-radius: 20px;
	background-color: #455d7a;
}
.start:hover, .btnReplay:hover {
	background-color: #f95959;
	color: #fff;
	border: 1px solid #f95959;
}


